* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: honeydew;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 200px auto;
  max-width: 900px;
  padding: 20px;
  width: 100%;
}

.textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 200px;
  line-height: 1.5;
  padding: 10px;
  resize: none;
  width: 750px;
}

.keyboard-container {
  background-color: #fff;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 300px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  width: 750px;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 9px;
  border: 1px solid #454545;
  border-bottom: 3px solid #454545;
  outline: none;
  transition: background-color 0.5s ease;
  background-color: #fafff5;
}

.button:hover {
  background-color: #ecffd8;
}

.button_active {
  background-color: #f0ff6e;
  border: 1px solid #454545;
}

.button_active:hover {
  background-color: #f0ff6e;
}

.button__content {
  display: none;
  line-height: 50px;
  width: 50px;
  height: 50px;
}

.button__content_active {
  display: block;
}

[data-code="Backspace"], [data-code="Backspace"] *{
  width: 60px;
}

[data-code="Space"], [data-code="Space"] *{
  width: 250px;
}

[data-code="Enter"] {
  position: relative;
}

[data-code="Enter"]::after {
  content: "↵";
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[data-code="Tab"] {
  position: relative;
}

[data-code="Tab"]::after {
  content: "tab";
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[data-code="CapsLock"], [data-code="ShiftRight"], [data-code="CapsLock"] *, [data-code="ShiftRight"] * {
  width: 100px;
}